body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    color: white;
    text-align: right;
    font-size: 200%;
}

.jumbotron-fluid {
    background-color: rgb(25, 25, 143);
}

h1 {
    padding-right: 80px;
    font-weight: 600;
    letter-spacing: 5px;
}

h2 {
    font-size: 200%;
    font-weight: 400;
}

ul {
    font-size: 200%;
    word-spacing: 5px;
}

h3 {
    font-size: 200%;
    font-weight: 400;
}

/* potentially include: */
/* classes, ids, other selectors, buttons */